* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: white;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}

.grid-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.75fr 2.5fr;
}

.sidebar {
  background-color: #242424;
  border-radius: 46px;
  margin: auto;
  width: 90%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active-link {
  width: 15px;
  height: 70px;
  background-color: #87009d;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.content {
  margin: auto;
  width: 100%;
  height: 90%;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 90%;
  margin: 0 auto;
}

.user-info img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.user-info i {
  color: #ac0202;
  text-align: center;
}

.sign-out:hover {
  cursor: pointer;
  color: #e20000;
}

.sidebar-links {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar-link {
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}

.sidebar-link-content {
  display: flex;
  font-size: 2rem;
  text-transform: uppercase;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 2.5rem;
}

.sidebar-link-content i {
  width: 30px;
  text-align: center;
  font-size: 30px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #87009d;
  border-radius: 35px;
  padding: 1rem;
  width: 20%;
  height: 20%;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 100ms ease-in;
}

.button-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  transition: all 100ms ease-in;
}

.button-content i {
  margin-right: 1rem;
}

.button:hover {
  cursor: pointer;
  transition: all 100ms ease-in;
  background-color: #fff;
}

.button:hover > a > .button-content {
  color: #87009d;
  transition: all 100ms ease-in;
}

.bottom-container {
  background-color: #242424;
  border-radius: 46px;
  width: 100%;
  display: flex;
}

.mobile-active-link {
  width: 50px;
  height: 15px;
  background-color: #87009d;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin: 0 auto;
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 450px) {
  .mobile-nav {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
  }

  .mobile-nav {
    width: 100vw;
    margin-bottom: 2rem;
    background-color: #242424;
  }

  .mobile-nav-links {
    padding-top: 1rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
  }

  .mobile-nav-link-content {
    margin-bottom: 1rem;
  }

  .mobile-nav-link-content i {
    display: block;
    text-align: center;
  }

  .mobile-non-active-link {
    width: 50px;
    height: 15px;
    background-color: #242424;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin: 0 auto;
  }
}
